@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .Btn {
        @apply w-8 h-8 cursor-pointer flex justify-center items-center rounded-full bg-slate-500 hover:text-red-500;
    }
}
@import 'antd/dist/antd.css';

a {
    color: black;
}
.cardhover:hover {
    border: 1px solid orange;
}
.cardhover:hover > div:last-child{
    opacity: 1;
    transition: 1.5s;
    
}
.cardhover:hover img {
    transform: scale(0.9);
    transition: 0.5s;
}
ul li:not(:first-child) {
    display: none;
}